/* Login and Signup Page Styles*/
.auth-container{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.auth-container .logo-img{
  position: absolute;
  top: 30px;
  left: 4%;
  font-weight: bold;
  font-size: 1.6rem;
}

.auth-content{
  flex-basis: 40%;
  margin: 0 auto;
  /* padding-top: 25vh; */
  display: flex;
  align-items: center;
}

.form-container{
  width: 80%;
  max-width: 380px;
  min-width: 250px;
  margin: 0 auto;
}

.hero-text{
  font-size: 2rem;
  font-weight: 700;
}

.hero-subtext{
  font-size: 1rem;
  margin-bottom: 40px;
} 

.rememberme-checkbox,
.terms-checkbox{
  margin-right: 4px;
  position: relative;
  top: 1px;
  accent-color: #000000;
}

.agree-terms a{
  font-weight: 500;
}

.signup-text,
.login-text{
  display: block;
  text-align: center;
}

.info-text{
  font-size: 0.75rem;
  font-weight: 450;
}

.auth-hero{
  flex-basis: 60%;
}

.auth-hero img{
  height: 100vh;
  object-position: center;
  object-fit: cover;
}





/* ValidateEmail Styles */
.loading-text::after{
  font-size: 2rem;
  font-weight: 700;
  content: "Loading";
  animation: dots 1.5s infinite steps(1);
}

@keyframes dots {
  0% { content: "Loading"; }
  25% { content: "Loading."; }
  50% { content: "Loading.."; }
  75% { content: "Loading..."; }
}





/* Navbar Styles */
.navbar{
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-img span{
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-links{
  flex-basis: 50%;
  display: flex;
  justify-content: space-around;
}

.icons{
  display: flex;
  align-items: center;
}

.icons a{
  margin-inline: 6px;
}





/* Home and Ride Page Styles */

.landing-container,
.ride-container{
  height: 100vh;
  display: flex;
  padding-block: 30px;
}

.landing-inp{
  position: relative;
}

.landing-inp input{
  padding-left: 35px;
}

.landing-inp>svg{
  position: absolute;
  top: 11px;
  left: 11px;
}

.ride-info{
  flex-basis: 40%;
  padding-top: 20px;
}

.new-ride-container,
.ride-form-container{
  width: 75%;
  min-width: 300px;
  margin: 0 auto;
}

.google-map{
  flex-basis: 60%;
}

.suggestions{
  width: 100%;
  background-color: #fff;
  padding: 10px;
  margin-top: 5px;
  position: absolute;
  top: 100%;
  z-index: 100;
  border: 1px solid black;
  border-radius: 4px;
}

.suggestions p{
  padding-block: 2px;
}

.suggestions p:not(:last-child){
  border-bottom: 1px solid black;
}

.suggestions p:hover{
  background-color: #00000020;
}

/* Ride Page Styles */
.search-icon{
  content: '';
  padding: 15px;
  background-color: #1447e645;
  border-radius: 100%;
  animation: anim 1.5s linear 0s infinite alternate;
}

@keyframes anim {
  from {
    /* styles */
    background-color: #1447e620;
  }
  to {
    background-color: #1447e660;
    /* styles */
  }
}







/* Media Queries */

@media screen and (max-width: 800px) {
  .form-container{
    max-width: 80%;
  }

  .auth-content{
    flex-basis: 100%;
  }

  .auth-hero{
    display: none;
  }

  .landing-container{
    padding-block: 20px;
    flex-direction: column;
  }

  .ride-info{
    flex-basis: content;
  }

  .ride-form-container{
    width: 100%;
  }

  .google-map{
    flex-grow: 1;
  }


}